<div class="container" ng-controller="propertiesController" id="ng-app" ng-init="init()">
	<div ng-class="message.class" ng-hide="message.hidden">{{message.text}}</div>
	<div class="properties-category">
		<div class="category-header">
			Lift
		</div>
		<table style="width: 100%">
			<tr>
				<td class="prop-left">
					Method:
				</td>
				<td class="prop-right">
					<select ng-model="properties.liftMethod" class="input">
						<option value="dir">Local Directory</option>
						<option value="ftp">FTP</option>
					</select>
				</td>
			</tr>
			<tr ng-if="properties.liftMethod === 'dir'">
				<td class="prop-left">
					Directory Path:
				</td>
				<td class="prop-right">
					<input class="input-text" ng-model="properties.dir.path">
				</td>
			</tr>
			<tr ng-if="properties.liftMethod === 'dir'">
				<td class="prop-left">
				</td>
				<td class="prop-right">
					<button type="button" class="btn btn-green" ng-click="testDir()">
						Check Path:
					</button>
				</td>
			</tr>
			<tr ng-if="properties.liftMethod === 'ftp'">
				<td class="prop-left">
					Host
				</td>
				<td class="prop-right">
					<input class="input-text">
				</td>
			</tr>
			<tr ng-if="properties.liftMethod === 'ftp'">
				<td class="prop-left">
					Port:
				</td>
				<td class="prop-right">
					<input class="input-text">
				</td>
			</tr>
			<tr ng-if="properties.liftMethod === 'ftp'">
				<td class="prop-left">
					Username:
				</td>
				<td class="prop-right">
					<input class="input-text">
				</td>
			</tr>
			<tr ng-if="properties.liftMethod === 'ftp'">
				<td class="prop-left">
					Password:
				</td>
				<td class="prop-right">
					<input class="input-text">
				</td>
			</tr>
			<tr ng-if="properties.liftMethod === 'ftp'">
				<td class="prop-left">
					Remote Path:
				</td>
				<td class="prop-right">
					<input class="input-text">
				</td>
			</tr>
			<tr ng-if="properties.liftMethod === 'ftp'">
				<td class="prop-left">
				</td>
				<td class="prop-right">
					<button type="button" class="btn btn-green" ng-click="testFtp()">
						Test Connection:
					</button>
				</td>
			</tr>
		</table>
	</div>
	<div class="properties-category">
		<div class="category-header">
			Ship
		</div>
		<table style="width: 100%">
			<tr>
				<td class="prop-left">
					WebSocket URL:
				</td>
				<td class="prop-right">
					<input ng-model="properties.url"
					       class="input-text" ng-model="properties.ws.url">
				</td>
			</tr>
			<tr>
				<td class="prop-left">
				</td>
				<td class="prop-right">
					<button type="button" class="btn btn-green" ng-click="testWs()">
						Test Connection
					</button>
				</td>
			</tr>
		</table>
	</div>
	<div class="properties-category">
		<div class="category-header">
			Schedule
		</div>
		<table style="width: 100%">
			<tr>
				<td class="prop-left">
					Frequency:
				</td>
				<td class="prop-right">
					<select ng-model="properties.frequency" class="input">
						<option value="60">1 hour</option>
						<option value="1440">24 hours</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="properties-category">
		<div class="category-header">
			Properties management
		</div>
		<div style="text-align: center">
			<button type="button" class="btn btn-green" ng-click="updateProperties()">
				Update
			</button>
			<button type="button" class="btn btn-green" ng-click="saveProperties()">
				Save to file
			</button>
			<button type="button" class="btn btn-green" ng-click="openProperties()">
				Open from file
			</button>
			<input id="open-file" hidden type="file" on-read-file="populateProperties($fileContent)" >
		</div>
	</div>
	<div class="properties-category">
		<div class="category-header">
			Process
		</div>
		<div style="text-align: center">
			<button type="button" class="btn btn-green" ng-click="testProcessing()">
				TEST
			</button>
			<button type="button" class="btn btn-green" ng-click="startProcessing()">
				START
			</button>
			<button type="button" class="btn btn-green" ng-click="stopProcessing()">
				STOP
			</button>
		</div>
	</div>
</div>
